<!-- Modal -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button id="modalOkButton" type="button" class="btn btn-primary" style="display:none" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<style>
    #ajaxBusyFade {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        /*min-width: 100%;
        min-height: 100%;*/
        background-color: #ffffff;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .70;
        filter: alpha(opacity=80);
    }

    #ajaxBusy {
        display: none;
        position: absolute;
        top: 45%;
        left: 45%;
        width: 100px;
        height: 100px;
        /*padding: 30px 15px 0px;*/
        /*border: 3px solid #ababab;*/
        /*box-shadow: 1px 1px 10px #ababab;*/
        /*border-radius: 20px;*/
        background-color: white;
        z-index: 1002;
        text-align: center;
        overflow: auto;
    }
</style>
<div id="ajaxBusyFade" style="display:none">
    <div id="ajaxBusy" style="display:none">
        <img id="loader_img" src="~/Content/img/loading.gif" />
    </div>
</div>
<script>
    function ShowModal(title, body) {

        if (title.length > 0)
            $('#modalTitle').html(title);
        if (body.length > 0)
            $('#modalBody').html(body);
        $('#modalOkButton').show();
        $('#modalWindow').modal('show');
    }

    function ShowAjaxModal(title, body) {
        ShowModal(title, body);

        $('#modalOkButton').hide();
        //$('#modalWindow').modal('show');
    }


    function HideModal() {
        $('#modalWindow').modal('hide');
    }

    //$('#modalWindow').on('hidden.bs.modal', function (e) {
    //    $('#modalBody').html('');
    //})

</script>
@*more about: http://getbootstrap.com/javascript/#modals*@
